# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# user personal finles
*.suo
*.user

# Resharper stuff
_ReSharper
ReSharper
*ReSharper*

# Ncrunch stuff
*.ncrunchproject
*.ncrunchsolution